<!DOCTYPE html>
<html ng-app="LiveHockey">
<head>
  <title ng-bind-html="title">Open Ice hockey</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if session[:user] %>
  <script>var LOGGED_IN = true;</script>
  <% end %>
</head>
<body>

<main class="container" role="main">
  <%= yield %>
</main>
<%= console %>
</body>
</html>
